branches:
  only:
    - master
    - develop

language: php

php:
  - 5.3
  - 5.4

before_script:
  - "mkdir -p ~/.composer"
  - cp .travis.composer.config.json ~/.composer/config.json
  - composer install --dev

script: ./travis_build.sh