<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Gumdrop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Simon Jodet">

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 10px;
            padding-bottom: 40px;
        }
    </style>
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>

                                                                                                                                                                                                                                
<div class="container">
    <div class="row">
        <div class="span10 offset1">
            <div class="hero-unit">
                <h1>Gumdrop</h1>
                <p>Gumdrop is a static website generator converting Markdown files and using the Twig templating engine.</p>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="span8 offset2">
            <h2>Download</h2>

<p>Download the <a href="https://github.com/simonjodet/gumdrop/zipball/master">latest stable version</a>. </p>

<h2>Installation</h2>

<p>Gumdrop requires PHP 5.3 CLI.<br />
If you're using Linux, your distribution most likely has a PHP CLI package for you to install.<br />
If you're using Mac OS 10.7.x (Lion), PHP 5.3 is already installed.<br />
Gumdrop has not been tested on Windows.</p>

<p>You'll then need the latest version of <a href="http://getcomposer.org/" title="Composer">Composer</a>.</p>

<p>Once Composer is installed, unzip the ZIP archive you've downloaded and run the following in a terminal:</p>

<pre><code>cd /path/to/gumdrop
composer install
</code></pre>

<p>Composer will download Gumdrop's dependencies for you.</p>

<h2>Usage</h2>

<h3>Markdown</h3>

<p>Gumdrop will generate HTML files from Markdown files while keeping their folder layout. Gumdrop identifies as a Markdown file any file with a <code>.md</code> or <code>.markdown</code> extension.<br />
Please refer to <a href="http://daringfireball.net/projects/markdown/syntax" title="Daring Fireball: Markdown Syntax Documentation">Markdown's documentation</a> for more information.</p>

<h3>Layout</h3>

<p>Gumdrop will look for a <code>_layout</code> folder at the root of the folder containing your Markdown files.</p>

<p>By default, Gumdrop will try to apply the <code>_layout/page.twig</code> <a href="http://twig.sensiolabs.org/" title="Twig's documentation">Twig</a> template to all your pages.<br />
<code>_layout/page.twig</code> must at least contain the following code:</p>

<pre><code>{{ content }}
</code></pre>

<p>So the bare minimal you'll need is:</p>

<pre><code>_layout/page.twig
first_article.md
</code></pre>

<p>If the <code>_layout/page.twig</code> doesn't exist, by default, Gumdrop will not apply any layout and will render just the Markdown files to HTML.</p>

<p>A more elaborate file layout could be:</p>

<pre><code>_layout/default.twig
_layout/page.twig
category/second_article.markdown
first_article.md
</code></pre>

<p>with <code>_layout/default.twig</code> containing:</p>

<pre><code>&lt;html&gt;
&lt;head&gt;
    &lt;title&gt;My Website&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
{% block content %}{% endblock %}
&lt;/body&gt;
&lt;/html&gt;
</code></pre>

<p>and  <code>_layout/page.twig</code> containing:</p>

<pre><code>{% extends "default.twig" %}

{% block content %}
&lt;p class="page_content"&gt;
    {{ content }}
&lt;/p&gt;
{% endblock %}
</code></pre>

<p>This will include all your pages in the <code>default.twig</code> file.</p>

<p>Please refer to <a href="http://twig.sensiolabs.org/doc/templates.html" title="Twig's documentation">Twig's documentation</a> for more information.</p>

<h3>Configuration header</h3>

<p>Alternatively, you can set a layout template for each page.</p>

<p>For that, you have to create a configuration header in your Markdown page.  A configuration header should be at the top of the file, start with a line containing <code>***</code> and end with another line containing <code>***</code>.<br />
Inside the header, the configuration is set in a <a href="http://www.json.org/">JSON</a> object.</p>

<p>Here's an example:</p>

<pre><code>***
{
    "layout":"my_custom_layout.twig"
}
***
# Title
Some Markdown content
</code></pre>

<p>The header will be removed automatically before the page conversion to HTML.</p>

<p>Currently, the only supported configuration is <code>layout</code>.<br />
However, any additional property you had to the JSON configuration object will be accessible through the <code>page.getConfiguration</code> Twig variable:</p>

<pre><code>***
{
    "layout":"my_custom_layout.twig",
    "title":"My Page Title"
}
***
# 
Some Markdown content
</code></pre>

<p>As you probably guessed, <code></code> will be replaced with <code>My Page Title</code>.</p>

<h3>Static files</h3>

<p>Because you will probably want to add some stylesheets, JavaScript and pictures to your layout or pages, Gumdrop will copy them over to the destination folder for you.<br />
It will <strong>not</strong> copy the Markdown files or the <code>_layout</code> folder.</p>

<h3>Conversion to HTML</h3>

<p>Run the following:</p>

<pre><code>cd /path/to/gumdrop
./gumdrop.php /path/to/markdown/files/ /path/to/destination/folder/
</code></pre>

<h2>Contributions</h2>

<h3>Forking</h3>

<p>You can of course fork <a href="https://github.com/simonjodet/gumdrop/tree/develop">this project</a> at your leisure.<br />
Any PR should be done with a dedicated branch originating from the <code>develop</code> branch.<br />
I will <strong>not</strong> merge the latest commits on the <code>develop</code> branch for you so please make sure you're up-to-date before issuing a PR.<br />
Anyone willing to test and fix Windows issues is welcome to do so ^^</p>

<h3>Coding</h3>

<p>My coding style is pretty obvious. Please try to respect it as much as possible.</p>

<p>All code should be unit tested - <em>TDD FTW!</em><br />
There is an additional dependency for developers, <a href="https://github.com/padraic/mockery">Mockery</a>. You should run your composer commands with the <code>--dev</code> options:</p>

<pre><code>composer install --dev
composer update --dev
</code></pre>

<p>Unit tests are written for <a href="http://www.phpunit.de/manual/3.6/en/index.html">PHPUnit 3.6</a>:</p>

<pre><code>cd /path/to/gumdrop/tests/
phpunit -c phpunit.xml
</code></pre>

<p>PHPDoc is available <a href="phpdoc/index.html">here</a>.</p>

<pre><code>cd /path/to/gumdrop/tests/
phpdoc
</code></pre>

<p>You should use <a href="http://www.phpdoc.org/">PHPDocumentor 2</a>.</p>

<h2>License</h2>

<blockquote>
  <p>Copyright &copy;2012 Simon Jodet</p>
  
  <p>Permission is hereby granted, free of charge, to any person obtaining a copy of
  this software and associated documentation files (the "Software"), to deal in
  the Software without restriction, including without limitation the rights to
  use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
  of the Software, and to permit persons to whom the Software is furnished to do
  so, subject to the following conditions:</p>
  
  <p>The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.</p>
  
  <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.</p>
</blockquote>

        </div>
    </div>

    <hr>

    <footer style="text-align:center;">
        <p>Gumdrop &copy; Simon Jodet 2012</p>
    </footer>

</div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.js"></script>

</body>
</html>
