<testsuites>
    <testsuite name="Gumdrop">
        <directory>tests/Gumdrop</directory>
        <exclude>tests/TestCase.php</exclude>
    </testsuite>
    <filter>
        <blacklist>
            <directory suffix=".php">vendor</directory>
        </blacklist>
    </filter>
    <!--<logging>-->
    <!--<log type="coverage-html" target="../doc_sources/coverage" charset="UTF-8" yui="true" highlight="true"/>-->
    <!--</logging>-->
</testsuites>
